<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Missions to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Read the...</h1>
            <p>Article1. Article2. Article3.</p>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get News!</a></p>
        </div>
        <h2>Here are your articles:</h2>
        <h3>Article1: {{ news_title }}</h3>
        <h3>{{  news_article  }}</h3>
    </div>
</body>
</html>